@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  /* Source: TailwindUI */
  .line-y {
    position: relative;
  }

  .line-y:before {
    top: calc(var(--spacing) * 0);
    content: var(--tw-content);
    background-color: color-mix(
      in oklab,
      var(--color-gray-950) 5%,
      transparent
    );
    width: 200vw;
    height: 1px;
    position: absolute;
    left: -100vw;
  }

  .line-y:after {
    bottom: calc(var(--spacing) * 0);
    content: var(--tw-content);
    background-color: color-mix(
      in oklab,
      var(--color-gray-950) 5%,
      transparent
    );
    width: 200vw;
    height: 1px;
    position: absolute;
    left: -100vw;
  }
  .line-b {
    position: relative;
  }

  .line-b:after {
    bottom: calc(var(--spacing) * 0);
    content: var(--tw-content);
    background-color: color-mix(
      in oklab,
      var(--color-gray-950) 5%,
      transparent
    );
    width: 200vw;
    height: 1px;
    position: absolute;
    left: -100vw;
  }

  .line-t {
    position: relative;
  }

  .line-t:before {
    top: calc(var(--spacing) * 0);
    content: var(--tw-content);
    background-color: color-mix(
      in oklab,
      var(--color-gray-950) 5%,
      transparent
    );
    width: 200vw;
    height: 1px;
    position: absolute;
    left: -100vw;
  }
}
